$tag-background-color: #fcebb6;
$tag-color: #5e412f;
$tag-sep-color: #5e412f;

$theme1-main-color: #00A1D6;
$theme1-second-color: #01579B;
$theme1-third-color: #616161;
$theme1-forth-color: #29B6F6;
$theme1-fifth-color: #fff;

$theme2-main-color: #014955;
$theme2-second-color: #f6f6e9;
$theme2-third-color: #666;

