$tag-height: 10vh;

$main-font-size: 1.2em;
$second-font-size: 1.1em;
$third-font-size: 1.0em;
$forth-font-size: 0.8em;
$fifth-font-size: 1.8em;
$sixth-font-size: 1.4em;

$body-width: 90vw;
$container-width: 80vw;
$side-width: 25vw;
$main-width: 55vw;
