@import "style-tag.scss";

body {
  background: #eee;
  min-width: $body-width;
}

.container {
  position: relative;
  margin: 10px auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  width: $container-width;
  overflow: hidden;
  border-radius: 4px;

  .sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    width: $side-width;
    padding: 15px 15px 10000px;
    background: $theme1-forth-color;
    color: $theme1-fifth-color;
    line-height: 1.5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: -10000px;

    a {
      color: $theme1-fifth-color;
      word-break: break-all;
    }

    .title {
      margin: 25px 0 20px;
      text-align: center;
      img {
        display: block;
        margin: 0 auto 15px;
        max-width: 10vw;
      }
    }
  }
}

h1 {
  font-size: 28px;
  font-weight: normal;
}

h2 {
  font-size: 24px;
}

.side-info {
  margin-left: 1vw;
  li {
    padding-top: 20px;
  }

  dt {
    font-size: $second-font-size;
    color: #fff;
    line-height: $second-font-size * 2;
  }

  dd {
    font-size: $third-font-size;
    line-height: $third-font-size * 1.5;
  }

  i {
    margin-right: 3px;
  }
}

.someRight dd {
  margin-left: 2vw;
}

.main {
  position: relative;
  left: $side-width;
  width: $main-width;
  padding: 15px 20px 10000px;
  background: $theme1-fifth-color;
  margin-bottom: -10000px;

  .main-info {
    padding-right: 3vw;
    padding-left: 1vw;
    & > li {
      padding-top: 1em;
    }

    dt {
      font-size: $sixth-font-size;
      color: $theme1-main-color;
      line-height: $sixth-font-size*1.5;
      border-bottom: 1px solid #{$theme1-main-color};
      margin: 0 0 15px -5px;
    }

    dd {
      font-size: $main-font-size;
      line-height: $main-font-size * 1.5;
      color: $theme1-third-color;

      strong {
        color: #000;
        vertical-align: middle;
        font-size: $second-font-size;
      }

      span {
        vertical-align: middle;
      }

      a {
        vertical-align: middle;
      }
    }
  }

}

iframe {
  margin: 0 10px;
  vertical-align: middle;
}

h3 {
  font-size: $main-font-size;
  color: $theme1-second-color;
  margin-bottom: .2em;
  img {
    vertical-align: middle;
    height: 30px;
    margin-right: 10px;
  }

  span {
    vertical-align: middle;
  }
  .project {
    color: $theme2-third-color;
  }
}

h4 {
  line-height: 30px;
  font-size: $second-font-size;
  color: #000;
  position: relative;
  bottom: 3px;

  span,
  a {
    vertical-align: middle;
  }
}

h5 {
  clear: both;
  font-size: $third-font-size;
  color: #000;
  line-height: 25px;
}

h4 a,
h5 a {
  font-size: $forth-font-size;
  padding: 1px 3px;
  border-radius: 5px;
  margin-left: 7px;
}

.circle {
  height: .8em;
  width: .8em;
  border-radius: 100%;
  background: $theme1-main-color;
  float: left;
  position: absolute;
  left: -1.75em;
  top: 5px;
}

.exp {
  border-left: 2px solid #{$theme1-main-color};
  margin-left: .8vw;

  p {
    font-size: $third-font-size;
    color: $theme1-third-color;
    line-height: $third-font-size*1.5;
    margin-bottom: 5px;
  }

  & > li {
    position: relative;
    top: -5px;
    margin: 0 0 .8em 1.3em;
  }

  img {
    max-width: 100%;
  }

  .ul > li {
    margin: 0 0 12px 0;
  }
}

footer {
  margin: 30px 0 20px;
  p {
    text-align: center;
    color: $theme1-third-color;
    font-size: $third-font-size;
  }
}

@mixin adapt-size($main-font-size, $second-font-size, $third-font-size, $forth-font-size, $fifth-font-size, $sixth-font-size) {
  .sidebar .side-info {
    dt {
      font-size: $second-font-size;
      line-height: $second-font-size * 2;
    }
    dd {
      font-size: $third-font-size;
      line-height: $third-font-size * 1.5;
    }
  }
  .container .main .main-info {
    dt {
      font-size: $sixth-font-size;
      line-height: $sixth-font-size * 1.5;
    }
    dd {
      font-size: $main-font-size;
      line-height: $main-font-size * 1.5;
    }
    strong {
      font-size: $second-font-size;
    }
    .exp p {
      font-size: $third-font-size;
      line-height: $third-font-size * 2;
    }
  }
  h3 {
    font-size: $main-font-size;
  }
  h4 {
    font-size: $second-font-size;
  }
  h5 {
    font-size: $third-font-size;
    a {
      font-size: $forth-font-size;
    }
  }

}

@media screen and (max-width: 1200px) {
  @include adapt-size(
          $main-font-size: 1em,
          $second-font-size: .9em,
          $third-font-size: .8em,
          $forth-font-size: .6em,
          $fifth-font-size: 1.4em,
          $sixth-font-size: 1.2em
  );
}

@media screen and (max-width: 1000px) {
  @include adapt-size(
          $main-font-size: .9em,
          $second-font-size: .8em,
          $third-font-size: .7em,
          $forth-font-size: .5em,
          $fifth-font-size: 1.3em,
          $sixth-font-size: 1.1em
  );
}

@media screen and (max-width: 800px) {
  @include adapt-size(
          $main-font-size: .8em,
          $second-font-size: .7em,
          $third-font-size: .6em,
          $forth-font-size: .4em,
          $fifth-font-size: 1.2em,
          $sixth-font-size: 1em
  );
}

@media screen and (max-width: 600px) {
  @include adapt-size(
          $main-font-size: .6em,
          $second-font-size: .5em,
          $third-font-size: .4em,
          $forth-font-size: .2em,
          $fifth-font-size: .8em,
          $sixth-font-size: .7em
  );
}